language: nix
nix: 2.1.1

script:
  # install netorcai
  - nix-env -f https://github.com/netorcai/pkgs/archive/master.tar.gz -iA netorcai_dev
  - netorcai --version

  # fix meson.build for Nix
  - git apply fix-meson-nix.patch

  # launch meson in a nix-shell so pkg-config detects dependencies
  # (this also populates the nix store with dependences)
  - nix-shell https://github.com/netorcai/pkgs/archive/master.tar.gz -A netorcai_client_cpp_dev --command '(meson build -Db_coverage=true && cd build && ninja && ninja test && ninja coverage-text)'

  # print coverage report
  - cat build/meson-logs/coverage.txt

  # send coverage results to codecov.io
  - bash <(curl -s https://codecov.io/bash)
