language: nix
nix: 2.1.1

script:
  # install netorcai
  - nix-env -f https://github.com/netorcai/pkgs/archive/master.tar.gz -iA netorcai_dev
  - netorcai --version

  # launch meson in a nix-shell so pkg-config detects dependencies
  # (this also populates the nix store with dependences)
  - nix-shell https://github.com/netorcai/pkgs/archive/master.tar.gz -A netorcai_client_cpp_dev --command 'meson build -Db_coverage=true'

  # install some build dependencies in the current profile
  - nix-env -i gcc-wrapper-7.3.0
  - nix-env -f https://github.com/NixOS/nixpkgs/archive/18.09.tar.gz -iA ninja
  - nix-env -f https://github.com/NixOS/nixpkgs/archive/18.09.tar.gz -i python3.6-gcovr-2.4

  # build and test the project manually
  - cd build
  - ninja
  - ninja test
  - ninja coverage-text
  - cd ..

  # print coverage report
  - cat build/meson-logs.coverage.txt

  # send coverage results to codecov.io
  - bash <(curl -s https://codecov.io/bash)
