language: nix
nix: 2.1.1

script:
  # install netorcai
  - nix-env -f https://github.com/netorcai/pkgs/archive/master.tar.gz -iA netorcai_dev
  - netorcai --version

  # build the up-to-date version of this project
  - nix-build https://github.com/netorcai/pkgs/archive/master.tar.gz -A netorcai_client_cpp_dev
  - tree result
